.gist-card{
    display:inline-block;
    width: 200px;
    box-shadow: 0 0 2px #333;
    border-radius: 3px;
    margin: 15px;
    padding: 10px;
    word-break: break-all;
}
.tag{
    display: inline-block;
    padding: 3px 7px;
    border-radius: 3px;
    background-color: #ccc;
    color: #888;
    font-weight: bold;
    text-decoration: none;
    font-size: 10px;
}
.heading{
    margin: 0;
}
.tag p{
    margin: 0;
}
.forks .fork{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.forks .fork .avatar{
    height: 30px;
    max-width: 50px;
    margin-right: 5px
}
.forks .fork .username{
    text-overflow: wrap;
}